<div class="flex flex-col">
    <h1 class="w-full px-4 py-2 bg-red-600 text-lg font-bold text-white" id="second-col">My second link</h1>
    <h1 class="w-full px-4 py-2 bg-yellow-600 text-lg font-bold text-white" id="third-col">My third link</h1>
    <button class="p-2 rounded-sm bg-black text-white text-md font-medium self-start" data-controller="hello" data-action="click->hello#open">Start Tour</button>
</div>